.row {
  padding-bottom: 1em;
}
.btn {
  text-align: left;
}

input {
  width: 100%;
}

textarea {
  resize: none;
  overflow: hidden;
}

#progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: white;
  mix-blend-mode: color-dodge;
}

.pointer {
  cursor: pointer;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(./MaterialIcons.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  vertical-align: bottom;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.bg-gray {
  background-color: #adb5bd;
}

.material-icons.md-size {
  font-size: 36px;
}

.flex-shrink-1 {
  overflow-y: scroll;
}

div img {
  object-fit: scale-down;
  max-height: 50px;
}

#topButton {
  position: fixed; /* Fixed/sticky position */
  bottom: 60px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  font-size: 25px; /* Increase font size */
}

#endButton {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  font-size: 25px; /* Increase font size */
}

.input-group-text {
  background-color: white;
}
